body {
    background-color: lavender;
    margin: 0;
    }


.header {
  background-color: lavender;
  padding: 20px;
  text-align: center;
}
.topnav {
  overflow: hidden;
  background-color:lightgray;
}

.column {
  float: left;
  padding: 10px;
}
   

.column {
  float: left;
  padding: 10px;
}


.column.side {
  width: 25%;
}


.column.middle {
  width: 50%;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

    img{
        float:right;
    }
    
    .footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

.topnav {
  overflow: hidden;
  background-color:lightgray;
    
      .footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}